input[type=text], input[type=password]{
    border: 3px solid black;
}

.cont-frm-login{
    margin-top: 10%;
}

body{
    background-color: #c1ffee;
}

#mainNav{
    background-color: #152924;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: white;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: white;
}


